[user]
    name  = ouzhenkun
    email = ryan.ouzhenkun@gmail.com
[push]
    default = simple
[color]
    ui = always
[color "status"]
    added     = green
    changed   = red
    untracked = magenta
[color "diff"]
    meta = yellow bold
    frag = magenta
    old  = red
    new  = green
[color "branch"]
    current = green
    local   = yellow
    remote  = cyan
[alias]
    s   = status
    ss  = status -s -b
    df  = diff
    dfn = diff --name-only
    c   = commit -m
    ca  = commit -am
    aa  = add .
    b   = branch
    l   = log --format='%C(auto)%h%Creset%C(auto)%d%Creset %s %C(dim bold cyan)<%an>%Creset %C(dim)%cr%Creset'
    ls  = log --format='%C(auto)%h%Creset%C(auto)%d%Creset %s %C(dim bold cyan)<%an>%Creset %C(dim)%cr%Creset' --graph
    ll  = log --graph --decorate
    w   = show
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[core]
    excludesfile = ~/.gitignore
[github]
    user = ouzhenkun
[http "https://github.com"]
	proxy = socks5://127.0.0.1:1086
[https "https://github.com"]
	proxy = socks5://127.0.0.1:1086
