/* VSCode自定义样式 */

/* 隐藏编辑器右上角的菜单 */
.editor-actions .codicon-compare-changes,
.editor-actions .menu-item-action-item-icon-1,
.editor-actions .menu-item-action-item-icon-2,
.editor-actions .menu-item-action-item-icon-3,
.editor-actions .menu-item-action-item-icon-4,
.editor-actions .menu-item-action-item-icon-5,
.editor-actions .menu-item-action-item-icon-6,
.editor-actions .menu-item-action-item-icon-7,
.editor-actions .menu-item-action-item-icon-8,
.editor-actions .codicon-split-horizontal,
.editor-actions .monaco-dropdown
{
  display: none !important;
}

/* 编辑器Group默认模式下 */
.editor-group-container {
  opacity: .9;
}
.editor-group-container .tabs-breadcrumbs,
.editor-group-container .margin-view-overlays,
.editor-group-container .tabs-breadcrumbs .shows-symbol-icon.monaco-breadcrumb-item {
  opacity: .5;
}
.editor-group-container .tabs-breadcrumbs .file.monaco-breadcrumb-item {
  font-weight: 500;
}
.editor-group-container .tab.active {
  border-bottom: 2px solid transparent;
  font-weight: 600;
}
/* .editor-group-container .tab.active .monaco-icon-name-container {
  font-weight: 600;
} */

/* 编辑器Group已激活模式下 */
.editor-group-container.active,
.editor-group-container.active .tabs-breadcrumbs,
.editor-group-container.active .margin-view-overlays {
  opacity: 1;
}
.editor-group-container.active .tab.active {
  border-bottom: 2px solid;
}
