/* VSCode自定义样式 */

/* 隐藏编辑器右上角的菜单 */
.editor-actions a[aria-label^='Open Changes'],
.editor-actions a[aria-label^='Run Code'],
.editor-actions a[aria-label^='Open In New Vscode Window'],
.editor-actions a[aria-label^='Show Revision Commit'],
.editor-actions a[aria-label^='File Annotations'],
.editor-actions a[aria-label^='Split Editor'],
.editor-actions a[aria-label^='More Actions']
{
  display: none !important;
}

/* 编辑器Group默认模式下 */
.editor-group-container {
  opacity: .8;
}
.editor-group-container .monaco-breadcrumbs,
.editor-group-container .margin-view-overlays,
.editor-group-container .monaco-breadcrumbs .shows-symbol-icon.monaco-breadcrumb-item {
  opacity: .5;
}
.editor-group-container .monaco-breadcrumbs .file.monaco-breadcrumb-item {
  font-weight: 600;
}
.editor-group-container .tab.active {
  border-bottom: 2px solid transparent;
  font-weight: 600;
}

/* 编辑器Group已激活模式下 */
.editor-group-container.active,
.editor-group-container.active .monaco-breadcrumbs,
.editor-group-container.active .margin-view-overlays {
  opacity: 1;
}
.editor-group-container.active .tab.active {
  border-bottom: 2px solid;
}

/* QuickOpen 宽度 */
.quick-input-widget {
  width: 800px !important;
  margin-left: -400px !important;
}