'*':
  'exception-reporting':
    'userId': '2a789008-d6df-6ba7-5730-7734af03465f'
  'welcome':
    'showOnStartup': false
  'editor':
    'fontSize': 13
    'showIndentGuide': true
    'invisibles':
      'space': ' '
  'core':
    'disabledPackages': [
      'language-c'
      'language-clojure'
      'language-gfm'
      'language-make'
      'language-mustache'
      'language-php'
      'language-toml'
      'language-yaml'
      'language-perl'
      'autocomplete'
      'notifications'
      'autoflow'
      'autosave'
      'wrap-guide'
      'minimap-find-and-replace'
      'coffee-compile'
    ]
    'themes': [
      'seti-ui'
      'monokai'
    ]
    'projectHome': '/Users/zhenkunou/workspace'
    'audioBeep': false
  'coffeescript-preview':
    'refreshDebouncePeriod': 500
  'project-manager':
    'sortBy': 'title'
  'save-session':
    'project': '/Users/zhenkunou/workspace/budweiser'
    'windowX': 0
    'windowY': 23
    'windowWidth': 1280
    'windowHeight': 777
    'treeSize': 353
  'linter':
    'lintOnChange': false
    'lintOnEditorFocus': false
    'showHighlighting': false
    'showErrorInline': true
    'statusBar': 'None'
  'coffee-compile':
    'compileOnSave': true
  'tree-view':
    'hideIgnoredNames': true
  'project-palette-finder':
    'paletteSort': true
  'find-and-replace':
    'openProjectFindResultsInRightPane': true
  'autocomplete-plus':
    'autoActivationDelay': 30
  'vim-mode':
    'useSmartcaseForSearch': true
  'minimap':
    'plugins':
      'git-diff': true
