"*":
  "autocomplete-plus":
    autoActivationDelay: 30
  "coffee-compile":
    compileOnSave: true
  "coffeescript-preview":
    refreshDebouncePeriod: 500
  core:
    audioBeep: false
    disabledPackages: [
      "language-c"
      "language-clojure"
      "language-gfm"
      "language-make"
      "language-mustache"
      "language-php"
      "language-toml"
      "language-perl"
      "autoflow"
      "autosave"
      "wrap-guide"
      "minimap-find-and-replace"
      "coffee-compile"
      "language-yaml"
    ]
    packagesWithKeymapsDisabled: [
      "angularjs"
    ]
    projectHome: "/Users/zhenkunou/workspace"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  "dark-flat-ui":
    accentColor: "blue"
    coloredTabs: false
  editor:
    fontSize: 13
    invisibles:
      space: " "
    showIndentGuide: true
  emmet: {}
  "exception-reporting":
    userId: "2a789008-d6df-6ba7-5730-7734af03465f"
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "fuzzy-finder": {}
  linter:
    lintOnChange: false
    lintOnEditorFocus: false
    showHighlighting: false
    statusBar: "None"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-dark-ui": {}
  "project-manager":
    sortBy: "title"
  "project-palette-finder":
    paletteSort: true
  "save-session":
    dataSaveFolder: "/Users/zhenkunou/.atom/packages/save-session/projects"
    project: "/Users/zhenkunou/workspace/budweiser"
    treeSize: 353
    windowHeight: 777
    windowWidth: 1280
    windowX: 0
    windowY: 23
  tabs: {}
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
