'.platform-darwin':
  'ctrl-e'  : 'tree-view:toggle'
  'cmd-ctrl-e'  : 'tree-view:toggle-focus'
  'cmd-!'  : 'tree-view:reveal-active-file'
  'ctrl-R' : 'tree-view:rename'
  'cmd-o'  : 'project-manager:toggle'
'.platform-darwin .editor':
  'ctrl-R' : 'tree-view:rename'
  'ctrl-A' : 'atom-alignment:align'
  'ctrl-.' : 'bookmarks:jump-to-next-bookmark'
  'ctrl-,' : 'bookmarks:jump-to-previous-bookmark'
  'ctrl-m' : 'bookmarks:toggle-bookmark'
  'ctrl-m ctrl-a' : 'bookmarks:view-all'
  'ctrl-m ctrl-c' : 'bookmarks:clear-bookmarks'
'.platform-darwin .editor:not(.mini)':
  'ctrl-shift-cmd-J' : 'emmet:split-join-tag'
  'cmd-J'            : 'editor:add-selection-below'
'atom-workspace atom-text-editor:not([mini])':
  'cmd-J': 'editor:add-selection-below'
  'cmd-K': 'editor:add-selection-above'
  'cmd-L': 'editor:split-selections-into-lines'
'body':
  'alt-P': 'core:select-to-top'
  'alt-N': 'core:select-to-bottom'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-s': 'core:save'
'.platform-darwin .pane .editor:not(.mini)':
  'cmd-/': 'editor:toggle-line-comments'
'atom-text-editor':
  'ctrl-k': 'unset!'
'atom-text-editor.vim-mode:not(.insert-mode)':
  'cmd-j': 'vim-mode:move-down'
  'cmd-k': 'vim-mode:move-up'
  'ctrl-e': 'unset!'
'.tree-view':
  'o': 'tree-view:open-selected-entry'
'.fuzzy-finder atom-text-editor[mini]':
  'ctrl-v': 'pane:split-right'
  'ctrl-s': 'pane:split-down'
